html{
  background-color: #FFFDA2;
}
.god{
  font-style: italic;
}

.formm-example{
  font-size: 20px;
  margin: 300 0 0 750;
}
.form-example:hover{
   color: #99A799;
}

.forrm-example:hover{
  color: #99A799;

}

.formmm-example{
  margin-top: 10px;


}
.godd{
  margin-left: -150px;
  font-size: 30px;
font-style: oblique;
}
.goddd{
text-decoration: none;
  text-decoration: none;
}
